<div class="demo-frame">
  <%= form_for :checkout_form, url: paypal_checkout_path, html: { id: "cardForm"} do |form| %>

  <%= form.label :card_number, "Credit Card Number", html: {class: "hosted-fields--label"} %>
  <div id="card-number" class="hosted-field"></div>

  <%= form.label :expiration_date, "Expiration Date", html: {class: "hosted-fields--label"} %>
  <div id="expiration-date" class="hosted-field"></div>

  <%= form.label :cvv, "CVV", html: {class: "hosted-fields--label"} %>
  <div id="cvv" class="hosted-field"></div>

  <%= form.hidden_field "payment_method_nonce" %>
  <% reservation = Reservation.find(params[:id])%>
  <%= form.hidden_field :ammount, value: "#{reservation.listing.price}" %>
  <%= form.hidden_field :reservation, value: '#{reservation}'

  <div class="button-container">
  <%= form.submit "Purchase", disabled: false, class: "btn btn-primary", id: "submit-payment-btn" %>
  </div>
  <% end %>
</div>

<!-- Load the Client component. -->
<script src="https://js.braintreegateway.com/web/3.6.3/js/client.min.js"></script>

<!-- Load the Hosted Fields component. -->
<script src="https://js.braintreegateway.com/web/3.6.3/js/hosted-fields.min.js"></script>