<%= form_for @reservation do |reservation|%>

	<div class="reservation_input">
	  <%= reservation.label :number_of_guests %>
	  <%= reservation.number_field :number_of_guests, required: true %>
	</div>

	<div class="reservation_input">
	  <%= reservation.label :start_date %>
	  <%= reservation.date_field :start_date, required: true %>
	</div>

	<div class="reservation_input">
	  <%= reservation.label :end_date %>
	  <%= reservation.date_field :end_date, required: true %>
	</div>

	<%= reservation.hidden_field :listing_id %>

	<%= reservation.submit "You have agreed to the terms and pricing stated above" %>
<% end %>